@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

a, .no-decoration, a:hover, .no-decoration:hover {
  text-decoration: none;
  color: inherit;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}